@charset "UTF-8";

* {
/*  border: 1px solid red; */
}

body {
  width: 80%;
  margin: 0 auto;
}

/* -----------CONTAINER 1----------*/

.flex-container {
  border: 3px solid #333;
  width: 600px;
  display:flex;
  flex-flow: row wrap;
  margin-bottom: 50px;
}

.box {
  background-color: orange;
  border: 2px solid gray;
  padding: 0 35px;
  border-radius: 5px;
}



/* -----------CONTAINER 2----------*/

.flex-container:nth-child(2) > .box {
  background-color: #bdaaf0;
}

.flex-item-1 {
  padding: 0;
  width: 25px;

  /*flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 45px; */
  flex: 0 1 45px /* flex -grow / flex shrink / flex-basis */
  /*flex: 0 45px /* flex -grow / flex-basis */
}

.flex-container:nth-child(1) {
  /*flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto; */
  flex: 1 1 auto /* flex -grow / flex shrink / flex-basis */
}