@charset "UTF-8";

* {
/*  border: 1px solid red; */
}

body {
  width: 80%;
  margin: 0 auto;
}

/* -----------CONTAINER 1----------*/

.flex-container {
  border: 3px solid #333;
  width: 600px;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.box {
  background-color: orange;
  border: 2px solid gray;
  padding: 0 50px;
  border-radius: 5px;
}

.flex-container > .box:nth-child(1) {
  order: 4;

}

.flex-container > .box:nth-child(2) {
  order: 2;
}

.flex-container > .box:nth-child(3) {
  order: 1;
}

.flex-container > .box:nth-child(4) {
  order: 3;
}
